  <div class="card" *ngIf="film" >
      <div class="card-header">
        <h3>{{film.title}}</h3>
      </div>
      <div class="card-block">
        <blockquote class="card-blockquote">
            <div class="row">
                <div class="col-md-5">
                    <img src="http://image.tmdb.org/t/p/w500/{{film.poster_path}}" alt="" class="thumbnail">
                </div>
                <div class="col-md-5">
                  <ul class="list-group">
                    <li class="list-group-item">Genres :  <span *ngFor="let  genre of film.genres" >{{genre.name}}</span></li>
                    <li class="list-group-item">Release Date :  <span>{{film.release_date}}</span></li>
                  </ul>
                  <br>
                  <a *ngIf="film.homepage" href="{{film.homepage}}" target="_blank" class="btn btn-secondary" type="button">View Homepage</a>
                </div>
            </div>      
        </blockquote>
      </div>
  </div>