<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" routerLink="/">Jordan AKA LE  BG</a>
</nav>

 <div class="jumbotron">     
  <router-outlet></router-outlet>
 </div>
<hr>
<footer>
  <p>&copy; Company 2017</p>
</footer>

